body
{
	background-image:url('loginbg.jpg');
	background-repeat:no-repeat; 
	background-size:cover;
}

table
{
  
    padding:30px;
	
}
td
{
	size:20px;
	padding:5px;
	color:rgb(255,255,255);	
	font-size:25px;
}

form
{
margin-top:200px;
}

input
{

	margin-left:10px
}
#button
{
	background-color:#4682B4;
	color:rgb(255,255,255);
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:20px;
}

